<h1>New Complain</h1>

<%= form_for(@complain) do |f| %>

<%= f.hidden_field :micropost_id, :value => params[:id] %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', complains_path %>
