<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @complain.content %>
</p>

<p>
  <strong>Micropost:</strong>
  <%= @complain.micropost.content %>
</p>

<%= link_to 'Edit', edit_complain_path(@complain) %> |
<%= link_to 'Back', complains_path %>
